.wrapper

    .movie life of john doe

    .job directed by
    .name christopher nolan

    .job produced by
    .name steven spielberg

    .job screenplay by
    .name michael bay
    
    .job director of photography
    .name wolfgang petersen
    
    .job story
    .name david fincher
    
    .job visual effects supervisor
    .name jerry bruckheimer
    
    .job cast supervisor
    .name john doe
    
    .job directed by
    .name christopher nolan

    .job produced by
    .name steven spielberg

    .job screenplay by
    .name michael bay
    
    .job director of photography
    .name wolfgang petersen
    
    .job story
    .name david fincher
    
    .job visual effects supervisor
    .name jerry bruckheimer
    
    .job cast supervisor
    .name john doe
    
    .job directed by
    .name christopher nolan

    .job produced by
    .name steven spielberg

    .job screenplay by
    .name michael bay
    
    .job director of photography
    .name wolfgang petersen
    
    .job story
    .name david fincher
    
    .job visual effects supervisor
    .name jerry bruckheimer
    
    .job cast supervisor
    .name john doe
    
    .job directed by
    .name christopher nolan

    .job produced by
    .name steven spielberg

    .job screenplay by
    .name michael bay
    
    .job director of photography
    .name wolfgang petersen
    
    .job story
    .name david fincher
    
    .job visual effects supervisor
    .name jerry bruckheimer
    
    .job cast supervisor
    .name john doe
    
    .job directed by
    .name christopher nolan

    .job produced by
    .name steven spielberg

    .job screenplay by
    .name michael bay
    
    .job director of photography
    .name wolfgang petersen
    
    .job story
    .name david fincher
    
    .job visual effects supervisor
    .name jerry bruckheimer
    
    .job cast supervisor
    .name john doe